* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

/* Navbar Section */
.left-image {
  height: 3rem;
}
body {
  margin: 0;
  padding: 0;
}
.middle-button {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.middle-button li {
  position: relative;
  cursor: pointer;
  color: #34478c;
  font-weight: bold;
  font-size: 20px;
}
.middle-button a {
  color: #34478c;
}
.middle-button a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0.175rem;
  background: #1a3050;
}
.middle-button li a::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.middle-button li a:hover:after {
  transform: scale(1, 1);
}
.middle-button a {
  text-decoration: none;
}
.right-section {
  display: flex;
  gap: 20px;
}
.right-section button {
  background-color: #1a3050;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  transition: all 0.5s;
}
.right-section button:hover {
  background-color: white;
  color: #34478c;
  box-shadow: 0px 0px 2px -3px #34478c, 0px 0px 16px -3px #34478c;
}

.dropdown-section p {
  font-weight: bold;
  color: #34478c;
}
.dropdown-section img {
  height: 2.5rem;
}
.nav-link {
  color: #34478c;
}
.custom-dropdown .dropdown-toggle::after {
  color: #34478c;
}
.user-text {
  transition: all 1s;
}
.user-text:hover {
  text-decoration: underline;
}
/* Navbar Section */

/* Sidebar Section */

.sidebar h2 {
  color: #34478c;
}
.sidebar-link {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.sidebar-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px; /* Change this to make the underline bolder */
  background-color: #34478c; /* Change this to your desired underline color */
  transition: width 0.3s; /* Animation duration */
}

.sidebar-link:hover::after {
  width: 100%;
}

.custom-dropdown-1 .dropdown-toggle::after {
  color: #34478c;
  font-size: 1.5rem;
}
/* Sidebar Section */
/* button */
button {
  border-radius: 5px !important;
  border: none;
  background-color: #1a3050;
  color: white;
  font-size: 16px !important;
  transition: all 0.5s;
  padding: 5px 15px;
}
button:hover {
  background-color: white;
  color: #34478c;
  box-shadow: 0px 0px 2px -3px #34478c, 0px 0px 16px -3px #34478c;
}
.data-catalog th,
.data-catalog td {
  padding-right: 50px !important; /* Adjust this value to increase or decrease the spacing */
}

.description-cell {
  text-align: justify;
}
.table-header {
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: black;
}

/* Register Page*/
.register {
  background: url(/assets/registloginbg.jpg);
  background-size: cover;
  height: 100vh;
}

.left-container {
  background-color: #34478c;
  width: 830px;
  height: 100vh;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-container {
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  width: 550px;
  height: 650px;
  margin: auto; /* Center the box horizontally */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.box-container .img-t4best {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 8vh;
}

.container-register {
  padding: 0 60px; /* Increase padding for better spacing */
  background-color: white;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  color: #34478c;
  border-radius: 10px;
}

/* Full-width input fields */
input[type="text"] {
  padding-left: 20px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #34478c;
}

input[type="password"] {
  padding-left: 20px;
  width: 100%;
  padding: 15px;
  margin: 1px 0 3px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #34478c;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.text-register {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 11px;
}

.container-login {
  font-size: 11px;
}

.forgot-pwd {
  font-size: 11px;
}

.register-btn {
  background-color: #1a3050;
  color: #fafafa;
  padding: 4px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.register-btn:hover {
  opacity: 0.9;
}

/* End of Register Page */

.login {
  background: url(/assets/registloginbg.jpg);
  height: 100vh;
  background-size: cover;
}

.background-blue {
  background-color: #34478c;
  width: 100%;
  position: absolute;
}

.right-container {
  width: 50%; /* Set width to 50% for half blue background */
  height: 100vh; /* Set height to full viewport height */
  background-color: #34478c; /* Set background color to blue */
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  border-radius: 8px 0 0 8px;
}

.box-login {
  background-color: rgb(252, 252, 252);
  border-radius: 10px;
  width: 90%;
  width: 550px;
  height: 600px;
  flex-shrink: 0;
  padding: 0 60px;
  margin: 0 auto; /* Center the box horizontally */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.box-login .img-t4best {
  margin-top: 80px;
  margin-bottom: 80px;
  height: 10vh;
}

.container-forlogin {
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  color: #34478c;
}

.text-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 11px;
}

.login-btn {
  background-color: #1a3050;
  color: #fafafa;
  padding: 4px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.login-btn:hover {
  opacity: 0.9;
}

input[type="text"] {
  padding-left: 20px;
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #34478c;
}

input[type="password"] {
  padding-left: 20px;
  width: 100%;
  padding: 15px;
  margin: 1px 0 3px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #34478c;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* End of Login Page */
